<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Anjiyoplasti Hizmetleri</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Anjiyoplasti Hizmetleri</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         all services start-->
   <section class="all-services pq-pb-210">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="pq-widget">
                  <div class="pq-widget pq-widget-port p-0">
                     <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                           <li class=" current-menu-item"> <a href="/angioplasty-services" aria-current="page">Anjiyoplasti Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/cardiology-services">Kardiyoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/endocrinology-services">Endokrinoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/eye-care-services">Göz Bakım Hizmetleri</a></li>
                           <li class="menu-item "><a href="/nurology-service">Nöroloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/orthopaedics-services">Ortopedi Hizmetleri</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="media_image">
                  <a href="/iletisim"> <img src="images/call-img.jpg" alt="" class="rounded img-fluid"> </a>
               </div>
            </div>
            <div class="col-lg-8 ps-3 mt-4 mt-lg-0">
               <div class="pq-menu-content">
                  <div class="pq-rhs-img text-center"> <img src="images/service-single.jpg" alt="" class="rounded img-fluid"> </div>
                  <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                     <h4 class="pq-section-title">Anjiyoplasti Alanında Profesyonel Tıbbi Hizmet</h4>
                     <div class="pq-section-description">
                        <p>Kliniğimiz, anjiyopilasti gibi damar sağlığı sorunlarına odaklanan deneyimli doktorlarımızla hizmet vermektedir. Anjiyopilasti, damarların iç yüzeyinde meydana gelen hasar nedeniyle ortaya çıkabilir ve bu durum, kalp ve damar sağlığı için ciddi bir risk oluşturabilir. Kliniğimizdeki uzman sağlık doktorları, anjiyopilasti tanısı ve etkili tedavi seçenekleri konusunda hastalarımıza yardımcı olmak için buradadır. Damar sağlığınızı korumak ve iyileştirmek için sizinle birlikte çalışmayı sabırsızlıkla bekliyoruz. Profesyonel bakım ve uzman desteği için kliniğimize hoş geldiniz.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti, damarların iç yüzeyindeki hasar nedeniyle kan akışını kısıtlayan bir durumdur.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti, ateroskleroz gibi damar hastalıklarının bir sonucu olarak ortaya çıkabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti teşhisi, özel görüntüleme testleri ile konur.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Damar içi pıhtı oluşumu anjiyopilasti riskini artırabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti, kalp krizi veya inme gibi ciddi sağlık sorunlarına yol açabilir.</span></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Tedavi edilmeyen anjiyopilasti, damarların tıkanmasına neden olabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti, yaş, sigara içme ve yüksek tansiyon gibi risk faktörleri ile ilişkilendirilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti tedavisinde ilaçlar ve girişimsel prosedürler kullanılabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Damar sağlığını korumak için düzenli egzersiz ve sağlıklı beslenme önemlidir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Anjiyopilasti riskini azaltmak için düzenli doktor kontrolleri önerilir.</span></li>
                        </ul>
                     </div>
                     <div class="row">
                        <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                           <h4 class="pq-section-title">Sağlık İpuçları ve Bilgiler

                           </h4>
                           <div class="pq-section-description">
                              <p>Sağlık, yaşam kalitemizi etkileyen önemli bir faktördür. Aşağıda, anjiyopilasti hakkında bazı temel bilgileri bulacaksınız. Soru ve cevaplarımız, damar sağlığınızı korumak ve daha bilinçli sağlık kararları almanıza yardımcı olacaktır. Sağlığınıza önem vermek için bu bilgilere göz atın.</p>
                           </div>
                        </div>
                        <div class="pq-accordion-block ">
                           <div class="pq-accordion-box  1">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Anjiyopilasti tanısı klinik testlerle nasıl konur?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Anjiyopilasti tanısı koymak için genellikle anjiyografi veya damar ultrasonu gibi görüntüleme testleri kullanılır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   2">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Anjiyopilasti tedavi seçenekleri nelerdir ve hangi durumlarda kullanılır?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text"> Anjiyopilasti tedavisi ilaçlarla veya gerektiğinde girişimsel işlemlerle yapılabilir. Tedavi seçenekleri hastanın durumuna ve damar hasarının ciddiyetine bağlıdır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   3 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Anjiyopilasti risk faktörleri nelerdir ve bu riskleri azaltmak için neler yapılabilir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Anjiyopilasti risk faktörleri yaş, sigara içme, yüksek tansiyon, diyabet ve yüksek kolesteroldür. Riski azaltmak için sağlıklı bir yaşam tarzı benimsemek, düzenli egzersiz yapmak ve doktor tavsiyelerine uymak önemlidir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   4 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Anjiyopilasti'nin belirtileri nelerdir ve hastalar ne zaman doktora başvurmalıdır? 
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Anjiyopilasti belirtileri arasında göğüs ağrısı, nefes darlığı, bacaklarda ağrı veya şişlik yer alabilir. Bu belirtileri yaşayan hastalar, derhal bir doktora başvurmalıdır çünkü erken teşhis ve tedavi önemlidir.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         all services end-->
   <!--=================================
 Footer start
   ============================== -->
   <%- include("partials/_footer") %>
</body>


<!-- Mirrored from peacefulqode.com/themes/medicate/html/angioplasty-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:50 GMT -->
</html>