<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Kardiyoloji Hizmetleri</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Kardiyoloji Hizmetleri</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         all services start-->
   <section class="all-services pq-pb-210">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="pq-widget">
                  <div class="pq-widget pq-widget-port p-0">
                     <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                           <li class="menu-item"> <a href="/angioplasty-services" aria-current="page">Anjiyoplasti Hizmetleri</a> </li>
                           <li class=" current-menu-item"><a href="/cardiology-services">Kardiyoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/endocrinology-services">Endokrinoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/eye-care-services">Göz Bakım Hizmetleri</a></li>
                           <li class="menu-item "><a href="/nurology-service">Nöroloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/orthopaedics-services">Ortopedi Hizmetleri</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="media_image">
                  <a href="/iletisim"> <img src="images/call-img.jpg" alt="" class="rounded img-fluid"> </a>
               </div>
            </div>
            <div class="col-lg-8 ps-3 mt-4 mt-lg-0">
               <div class="pq-menu-content">
                  <div class="pq-rhs-img text-center"> <img src="images/service-single.jpg" alt="" class="rounded img-fluid"> </div>
                  <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                     <h4 class="pq-section-title">Kardiyoloji Alanında Profesyonel Tıbbi Hizmet</h4>
                     <div class="pq-section-description">
                        <p>Kliniğimiz, kardiyoloji alanında uzmanlaşmış doktorlarımızla hizmet vermektedir. Kalp ve damar sağlığına yönelik ciddi sorunların tespiti ve tedavisi konusundaki deneyimimizle biliniriz. Kalp rahatsızlıkları, yaşam kalitesini etkileyen önemli bir sağlık sorunudur. Kliniğimizdeki uzman sağlık doktorları, kalp sağlığı ile ilgili teşhis koymak ve etkili tedavi seçenekleri sunmak için buradadır. Kalp sağlığınızı korumak ve iyileştirmek için sizinle birlikte çalışmayı dört gözle bekliyoruz. Profesyonel bakım ve uzman desteği için kliniğimize hoş geldiniz.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyoloji, kalp ve damar hastalıklarının teşhisi ve tedavisiyle ilgilenen tıp dalıdır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyologlar, kalp sağlığını korumak ve hastalıkları tedavi etmek için uzmanlaşmış doktorlardır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kalp krizi, kardiyoloji alanındaki en ciddi sağlık sorunlarından biridir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Elektrokardiyogram (EKG), kalp ritmi ve işlevini değerlendirmek için kullanılan bir tanı aracıdır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyovasküler cerrahi, kalp ve damar cerrahisi alanındaki operasyonları içerir.</span></li>
                        </ul>
                     </div>
                     
                     <div class="col-lg-6 p-lg-0">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Hipertansiyon (yüksek tansiyon), kardiyolojik sorunlara yol açabilen önemli bir risk faktörüdür.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kalp yetmezliği, kalbin etkili bir şekilde pompalamadığı bir durumu ifade eder.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyolojik rehabilitasyon programları, kalp hastalarının sağlıklarını iyileştirmelerine yardımcı olabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ailesel kalp hastalıkları, kalp sağlığına dikkat edilmesi gereken genetik faktörlerden biridir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyoloji kontrolleri, kalp sağlığını korumak için düzenli olarak yapılmalıdır.</span></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <h4 class="pq-section-title">Teşhis Yöntemleri</h4>
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ekokardiyografi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Elektrokardiyografi (EKG)</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kalp Stres Testi (Eforlu EKG)</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ritim Holter</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Holter</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kandaki kalp enzimlerinin ölçümlenmesi</span></li>
                           
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <h4 class="pq-section-title">Hizmetlerimiz</h4>
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kardiyak Efor Testi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>24 Saatlik Ritim Holter</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Genel Kardiyak Muayene</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>24 Saatlik Tansiyon Holteri</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Transtorasik Ekokardiyografi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Önleyici Kardiyolojik Tedaviler</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Hipertansiyon Tanısı Ve Tedavisi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kalp Yetmezliği Tanı Ve Tedavisi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kronik Kalp Hastalıkları İzlem Ve Tedavisi</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Koroner Kalp Hastalıkları Erken Tanı Ve Tedavisi</span></li>
                        </ul>
                     </div>
                     <div class="row">
                        <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                           <h4 class="pq-section-title">Sağlık İpuçları ve Bilgiler</h4>
                           <div class="pq-section-description">
                              <p>Sağlık, yaşam kalitemizi etkileyen önemli bir faktördür. Aşağıda, kardiyoloji hakkında bazı temel bilgileri bulacaksınız. Soru ve cevaplarımız, kalp sağlığınızı korumak ve daha bilinçli sağlık kararları almanıza yardımcı olacaktır. Sağlığınıza önem vermek için bu bilgilere göz atın.</p>
                           </div>
                        </div>
                        <div class="pq-accordion-block ">
                           <div class="pq-accordion-box  1">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Kliniğinizde hangi kardiyoloji hizmetleri sunulmaktadır?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Kliniğimizde kalp hastalıklarının teşhisinden tedavisine kadar bir dizi kardiyolojik hizmet sunulmaktadır, bunlar arasında EKG, stres testleri ve kalp ritmi izlemi bulunmaktadır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   2">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Kardiyoloji muayenesi sırasında neler beklemeliyim?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Kardiyoloji muayenesi sırasında doktor, tıbbi geçmişinizi alacak, fiziksel muayene yapacak ve gerektiğinde tanı testleri (örneğin ekokardiyografi) isteyecektir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   3 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Hangi durumlarda kardiyolojik bir acil durum söz konusu olabilir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text"> Göğüs ağrısı, nefes darlığı, bayılma, düzensiz kalp atışları gibi belirtiler kardiyolojik bir acil durumun işareti olabilir ve derhal bir uzmana başvurulmalıdır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   4 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Kardiyoloji alanında son gelişmeler nelerdir ve bunlar hastalar için nasıl bir fayda sağlıyor?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Kardiyoloji alanındaki son gelişmeler, daha hassas teşhisler ve daha etkili tedavi yöntemleri sunarak hastaların kalp sağlığını daha iyi korumalarına yardımcı olmaktadır.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         all services end-->
   <!--=================================
 Footer start
   ============================== -->
   <%- include("partials/_footer") %>
</body>


<!-- Mirrored from peacefulqode.com/themes/medicate/html/cardiology-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:50 GMT -->
</html>