<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Göz Bakım Hizmetleri</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Göz Bakım Hizmetleri</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         all services start-->
   <section class="all-services pq-pb-210">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="pq-widget">
                  <div class="pq-widget pq-widget-port p-0">
                     <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                           <li class="menu-item "> <a href="/angioplasty-services" aria-current="page">Anjiyoplasti Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/cardiology-services">Kardiyoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/endocrinology-services">Endokrinoloji Hizmetleri</a> </li>
                           <li class=" current-menu-item"><a href="/eye-care-services">Göz Bakım Hizmetleri</a></li>
                           <li class="menu-item "><a href="/nurology-service">Nöroloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/orthopaedics-services">Ortopedi Hizmetleri</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="media_image">
                  <a href="/iletisim"> <img src="images/call-img.jpg" alt="" class="rounded img-fluid"> </a>
               </div>
            </div>
            <div class="col-lg-8 ps-3 mt-4 mt-lg-0">
               <div class="pq-menu-content">
                  <div class="pq-rhs-img text-center"> <img src="images/service-single.jpg" alt="" class="rounded img-fluid"> </div>
                  <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                     <h4 class="pq-section-title">Endokrinoloji Alanında Profesyonel Tıbbi Hizmet</h4>
                     <div class="pq-section-description">
                        <p>Kliniğimiz, göz sağlığı konusunda uzmanlaşmış doktorlarımızla hizmet vermektedir. Gözler, sağlığımızın önemli bir parçasıdır ve görme yeteneğimizi etkileyebilecek birçok sorunla karşı karşıya kalabiliriz. Kliniğimizdeki uzman sağlık doktorları, göz sorunlarını teşhis etmek ve etkili tedavi seçenekleri sunmak için buradadır. Görme sağlığınızı korumak ve göz sorunlarını çözmek için sizinle birlikte çalışmayı dört gözle bekliyoruz. Profesyonel bakım ve uzman desteği için kliniğimize hoş geldiniz.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Göz sağlığınızı korumak için yıllık göz muayeneleri önemlidir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Güneş gözlüğü takmak, gözleri UV ışınlarından korur.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ekranlardan gelen mavi ışığa karşı önlem almak göz yorgunluğunu azaltabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Kontakt lenslerinizi ve gözlüklerinizi düzenli olarak temizlemek önemlidir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Göz kuruluğu için nemlendirici damlalar kullanmak rahatlatıcı olabilir.</span></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Sigara içmek göz hastalıkları riskini artırabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Düzenli egzersiz yapmak, genel sağlık ve göz sağlığı için faydalıdır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Diyabet hastaları, göz sağlığını yakından takip etmelidir, çünkü diyabet retinopatiye neden olabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Beslenme, göz sağlığını etkileyebilir; özellikle A vitamini zengini gıdalar tüketmek önemlidir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Göz yaralanmalarından korunmak için uygun koruyucu ekipman kullanmak önemlidir, özellikle spor yaparken veya inşaat gibi riskli işlerde çalışırken.



                           </span></li>
                        </ul>
                     </div>
                     <div class="row">
                        <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                           <h4 class="pq-section-title">Sağlık İpuçları ve Bilgiler</h4>
                           <div class="pq-section-description">
                              <p>Sağlık, yaşam kalitemizi etkileyen önemli bir faktördür. Aşağıda, göz sağlığı hakkında bazı temel bilgileri bulacaksınız. Soru ve cevaplarımız, gözlerinizi korumak ve daha bilinçli sağlık kararları almanıza yardımcı olacaktır. Sağlığınıza önem vermek için bu bilgilere göz atın.</p>
                           </div>
                        </div>
                        <div class="pq-accordion-block ">
                           <div class="pq-accordion-box  1">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Kliniğinizde hangi göz muayene ve testleri sunuyorsunuz?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Kliniğimizde göz muayeneleri, retinografi, görme alanı testleri ve kontakt lens uygunluğu değerlendirmesi gibi çeşitli göz testleri sunuyoruz.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   2">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Hangi durumlarda bir göz doktoruna başvurmalıyım?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Göz ağrısı, görme kaybı, ani görme değişiklikleri, ışık çakmaları veya yüzen cisimler gibi sorunlar yaşarsanız, bir göz doktoruna başvurmalısınız.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   3 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Kliniğinizde lazer göz ameliyatı gibi cerrahi işlemler yapılıyor mu?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Evet, kliniğimizde lazer göz ameliyatı gibi göz cerrahisi işlemleri de gerçekleştirilmektedir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   4 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Göz bakımı hizmetlerinizde hangi yaş gruplarına odaklanıyorsunuz? 
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text"> Kliniğimizde her yaş grubuna yönelik göz bakımı hizmetleri sunulmaktadır, çocuklardan yaşlılara kadar herkesi kapsar.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         all services end-->
   <!--=================================
 Footer start
   ============================== -->
   <%- include("partials/_footer") %>
</body>


<!-- Mirrored from peacefulqode.com/themes/medicate/html/eye-care-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:50 GMT -->
</html>