<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Hakkımızda</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Hakkımızda</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         about-us start-->
         <section class="about-us">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6 pe-xl-5"> <img src="images/About-us/4.jpg" class="img-fluid wow fadeInLeft" alt="home"> </div>
                  <div class="col-xl-6 px-xl-4 mt-4 mt-xl-0">
                     <div class="pq-section pq-style-1 text-left"> <span class="pq-section-sub-title">What About Us</span>
                        <h5 class="pq-section-title">Kaliteli Bakım, Sağlıklı Yaşam</h5>
                        <p class="pq-section-description">Kliniğimiz, sadece tedavi etmekle kalmayıp, hastalarımıza sağlık ve esenlik sunmayı amaçlayan bir aile gibi bir araya gelen uzman bir ekipten oluşur. Her hastamıza bireysel ilgi gösterir ve onların sağlık yolculuğunda yanlarında oluruz. Biz, sağlığınıza değer veren bir klinik olarak biliniriz ve sizi en iyi şekilde ağırlamaktan mutluluk duyarız.</p>
                     </div>
                     <div class="row mt-3">
                        <div class="col-lg-6 col-md-6">
                           <ul class="pq-list-check ">
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Müdahale Başarısı</span></li>
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Bakım Hizmetlerinin Kalitesi</span></li>
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Müşteri Memnuniyeti</span></li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <ul class="pq-list-check">
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Personelden Memnuniyet</span></li>
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span> Enfeksiyon Önleme</span></li>
                              <li><i aria-hidden="true" class="ion ion-checkmark-round"></i><span>Hasta Deneyimi</span></li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-md-5">
                            <div class="pq-contact-box1">
                               <h4 class="pq-contact-title"><a href="tel:+12122555511">+1 (212) 255-5511</a></h4>
                               <br/>
                               <p class="pq-contact-desciption pq-text-primary mb-0">Herhangi bir sorunuz var mı?</p>
                               

                            </div>
                         </div>
                        <div class="col-lg-6 col-md-6 mt-md-5"> <img src="images/sign.png" class="img-fluid pq-signimg" alt="home"> </div>
                     </div>
                     <div class="col-lg-12">
                        <a class="pq-button pq-button-flat mt-3" href="/iletisim">
                           <div class="pq-button-block"> <span class="pq-button-text">Bize Ulaşın!</span> <i class="ion ion-plus-round"></i> </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
   <!--=================================
         about-us end-->
         <!--=================================
         counter start-->
   <section class=" pq-counter-60 pq-bg-primary-dark pq-py-2">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 ">
               <div class="pq-counter pq-style-2 text-center">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="100" data-speed="5000">100</h5> <span class="pq-counter-prefix">k</span> </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="100" data-speed="5000">100</h5> <span class="pq-counter-prefix">k</span> </div>
                        <p class="pq-counter-description">Saves Hearts</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6  mt-lg-0  mt-md-0 mt-4  ">
               <div class="pq-counter pq-style-2 text-center">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="125" data-speed="5000">125</h5> <span class="pq-counter-prefix">k</span> </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="125" data-speed="5000">125</h5> <span class="pq-counter-prefix">k</span> </div>
                        <p class="pq-counter-description">Expert Doctors</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0  mt-4 ">
               <div class="pq-counter pq-style-2 text-center">
                  <div class="pq-counter-contain">
                     <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="250" data-speed="5000">250</h5> <span class="pq-counter-prefix">k</span> </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="250" data-speed="5000">250</h5> <span class="pq-counter-prefix">k</span> </div>
                        <p class="pq-counter-description">saved tooth</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-4 ">
               <div class="pq-counter pq-style-2 text-center">
                  <div class="pq-counter-contain border-0">
                     <div class="pq-counter-info">
                        <div class="pq-counter-num-prefix">
                           <h5 class="timer" data-to="554" data-speed="5000">554</h5> <span class="pq-counter-prefix">k</span> </div>
                        <div class="pq-counter-num-prefix pq-prefix-top">
                           <h5 class="timer" data-to="554" data-speed="5000">554</h5> <span class="pq-counter-prefix">k</span> </div>
                        <p class="pq-counter-description">Happy Patients</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         counter end-->
   <!--=================================
         our-service start-->
   <section class="service pq-bg-grey">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="col-lg-12">
                  <div class="pq-section pq-style-1 text-center"> <span class="pq-section-sub-title">HİZMETLERİMİZ</span>
                     <h5 class="pq-section-title">Ana Hizmetlerimizi Keşfedin</h5> </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/1.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"> <i class=" flaticon-heartbeat"></i> </div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Anjiyopilasti</h5>
                     <p class="pq-fancybox-description">Anjiyopilasti, damarların iç yüzeyinde meydana gelen hasar nedeniyle oluşan bir durum olup, damar sağlığına yönelik teşhis ve tedavi gerektiren bir alandır.</p>
                     <a class="pq-button pq-button-link" href="/angioplasty-services">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 mt-xl-0 mt-md-0 mt-4">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/2.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"><i class=" flaticon-first-aid-box"></i></div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Kardiyoloji</h5>
                     <p class="pq-fancybox-description">"Kardiyoloji, kalp ve damar hastalıklarının tanısı, teşhisi, tedavisi, önlenmesi ve yönetimine odaklanan hayati bir tıbbi uzmanlık dalıdır."</p>
                     <a class="pq-button pq-button-link" href="/cardiology-services">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-12 mt-4 mt-xl-0">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/3.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"> <i class="flaticon-healthcare"></i> </div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Endokrinoloji</h5>
                     <p class="pq-fancybox-description">Endokrinoloji, hormonların üretimi, düzenlenmesi ve hormonların vücut üzerindeki etkileri üzerine uzmanlaşmış tıp dalıdır.</p>
                     <a class="pq-button pq-button-link" href="/endocrinology-services">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6  mt-4">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/2.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"> <i class="  flaticon-ct-scan"></i> </div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Göz Bakımı</h5>
                     <p class="pq-fancybox-description">Göz bakımı, göz sağlığının korunması, göz hastalıklarının teşhis edilmesi ve tedavi edilmesi için sunulan tıbbi ve klinik hizmetlerin bütününü ifade eder.</p>
                     <a class="pq-button pq-button-link" href="/eye-care-services">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-6 mt-4">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/3.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"> <i class=" flaticon-x-ray-1"></i> </div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Nöroloji</h5>
                     <p class="pq-fancybox-description">Nöroloji, sinir sistemi hastalıkları üzerine odaklanan tıbbi bir uzmanlık dalıdır ve beyin, omurilik ve periferik sinir sistemi ile ilgili teşhis ve tedaviyi içerir.</p>
                     <a class="pq-button pq-button-link" href="/nurology-service">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-12 mt-4">
               <div class="pq-fancy-box pq-style-3">
                  <div class="pq-fancy-box-hoverbg"> <img src="images/services/1.jpg" class="img-fluid" alt="Images"> </div>
                  <div class="pq-fancy-box-icon"> <i class=" flaticon-health-insurance"></i> </div>
                  <div class="pq-fancy-box-info left">
                     <h5 class="pq-fancy-box-title">Ortopedi</h5>
                     <p class="pq-fancybox-description">Ortopedi, kas-iskelet sistemi sorunlarına odaklanan tıbbi bir uzmanlık dalıdır ve kemikler, eklem ve kaslar ile ilgili teşhis ve tedaviyi kapsar.</p>
                     <a class="pq-button pq-button-link" href="/orthopaedics-services">
                        <div class="pq-button-block"> <span class="pq-button-text">İNCELE</span> <i class="ion ion-plus-round"></i> </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         our-service end-->
   
   <!--=================================
         our-client start-->
   <section class="testimonial">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="pq-section pq-style-1 text-center"> <span class="pq-section-sub-title">HASTALARIMIZ</span>
                  <h5 class="pq-section-title">Hasta Memnuniyeti</h5> </div>
            </div>
            <div class="col-lg-12">
               <div class="owl-carousel owl-theme" data-dots="true" data-nav="false" data-desk_num="2" data-lap_num="2" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                  <div class="item">
                     <div class="pq-testimonial-box pq-style-1">
                        <div class="pq-testimonial-info">
                           <div class="pq-testimonial-content">
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don’t look even believable. There are many variations of passages.</p>
                           </div>
                        </div>
                        <div class="pq-testimonial-media">
                           <div class="pq-testimonial-img"> <img src="images/testimonial/1.png" class="img-fluid" alt="testimonial-image"> </div>
                           <div class="pq-testimonial-meta">
                              <h5>Dr. john Martin</h5> <span>Cancer Research </span> </div>
                           <div class="pq-testimonial-icon"> <i class="fas fa-quote-right"></i> </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="pq-testimonial-box pq-style-1">
                        <div class="pq-testimonial-info">
                           <div class="pq-testimonial-content">
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don’t look even believable. There are many variations of passages.</p>
                           </div>
                        </div>
                        <div class="pq-testimonial-media">
                           <div class="pq-testimonial-img"> <img src="images/testimonial/2.png" class="img-fluid" alt="testimonial-image"> </div>
                           <div class="pq-testimonial-meta">
                              <h5>Dr. john Martin</h5> <span>Cancer Research </span> </div>
                           <div class="pq-testimonial-icon"> <i class="fas fa-quote-right"></i> </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="pq-testimonial-box pq-style-1">
                        <div class="pq-testimonial-info">
                           <div class="pq-testimonial-content">
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don’t look even believable. There are many variations of passages.</p>
                           </div>
                        </div>
                        <div class="pq-testimonial-media">
                           <div class="pq-testimonial-img"> <img src="images/testimonial/3.png" class="img-fluid" alt="testimonial-image"> </div>
                           <div class="pq-testimonial-meta">
                              <h5>Dr. john Martin</h5> <span>Cancer Research </span> </div>
                           <div class="pq-testimonial-icon"> <i class="fas fa-quote-right"></i> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         our-client end-->
   
   
   <!--=================================
          Footer start
   ============================== -->
</body>

<!-- Mirrored from peacefulqode.com/themes/medicate/html/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:39 GMT -->
</html>
   <%- include("partials/_footer") %> 