<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Nöroloji Hizmetleri</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Nöroloji Hizmetleri</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         all services start-->
   <section class="all-services pq-pb-210">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="pq-widget">
                  <div class="pq-widget pq-widget-port p-0">
                     <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                           <li class="menu-item "> <a href="/angioplasty-services" aria-current="page">Anjiyoplasti Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/cardiology-services">Kardiyoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/endocrinology-services">Endokrinoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/eye-care-services">Göz Bakım Hizmetleri</a></li>
                           <li class=" current-menu-item"><a href="/nurology-service">Nöroloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/orthopaedics-services">Ortopedi Hizmetleri</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="media_image">
                  <a href="contact-us.html"> <img src="images/call-img.jpg" alt="" class="rounded img-fluid"> </a>
               </div>
            </div>
            <div class="col-lg-8 ps-3 mt-4 mt-lg-0">
               <div class="pq-menu-content">
                  <div class="pq-rhs-img text-center"> <img src="images/service-single.jpg" alt="" class="rounded img-fluid"> </div>
                  <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                     <h4 class="pq-section-title">Nöroloji Alanında Profesyonel Tıbbi Hizmet</h4>
                     <div class="pq-section-description">
                        <p>Kliniğimiz, nöroloji alanında uzmanlaşmış doktorlarımızla hizmet vermektedir. Sinir sistemi, vücudumuzun karmaşık kontrol merkezlerinden biridir ve bir dizi nörolojik sorunu içerebilir. Kliniğimizdeki uzman sağlık doktorları, nörolojik sorunları teşhis etmek ve etkili tedavi seçenekleri sunmak için buradadır. Sinir sistemi sağlığınızı korumak ve nörolojik sorunları çözmek için sizinle birlikte çalışmayı dört gözle bekliyoruz. Profesyonel bakım ve uzman desteği için kliniğimize hoş geldiniz.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Nöroloji, sinir sistemi hastalıklarını inceleyen bir tıp dalıdır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Migren, nörolojik bir baş ağrısı türüdür ve sıkça nörologlar tarafından tedavi edilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Parkinson hastalığı, nörolojik bir bozukluk olup hareket kontrolünü etkiler.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Epilepsi, nörolojik bir durumdur ve nöbetlere neden olabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Nörolojik muayene, reflekslerin, koordinasyonun ve sinir fonksiyonlarının değerlendirilmesini içerir.</span></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Alzheimer hastalığı, hafıza kaybına neden olan nörolojik bir hastalıktır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Nörologlar, inme ve beyin travmaları gibi acil durumları da tedavi ederler.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Sinir sıkışması, nörolojik semptomlara yol açabilir ve tedavi gerektirebilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Nörolojik rahatsızlıklar, baş ağrılarından sinir iltihaplarına kadar geniş bir yelpazeyi kapsar.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Nöroloji, hastaların sinir sistemi sağlığını değerlendirmek ve iyileştirmek için önemli bir rol oynar.</span></li>
                        </ul>
                     </div>
                     <div class="row">
                        <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                           <h4 class="pq-section-title">Sağlık İpuçları ve Bilgiler</h4>
                           <div class="pq-section-description">
                              <p>Sağlık, yaşam kalitemizi etkileyen önemli bir faktördür. Aşağıda, nöroloji hakkında bazı temel bilgileri bulacaksınız. Soru ve cevaplarımız, sinir sistemi sağlığınızı korumak ve daha bilinçli sağlık kararları almanıza yardımcı olacaktır. Sağlığınıza önem vermek için bu bilgilere göz atın.
                              </p>
                           </div>
                        </div>
                        <div class="pq-accordion-block ">
                           <div class="pq-accordion-box  1">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Nöroloji kliniğinizde hangi tür nörolojik sorunlar ve hastalıklar tedavi edilmektedir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text"> Nöroloji kliniğimizde epilepsi, migren, Parkinson hastalığı, inme, multipl skleroz (MS) gibi bir dizi nörolojik sorun ve hastalık tedavi edilmektedir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   2">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Hangi nörolojik testler ve görüntüleme yöntemleri kliniğinizde kullanılıyor?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Kliniğimizde EEG (elektroensefalografi), MRI (manyetik rezonans görüntüleme), EMG (elektromiyografi) gibi nörolojik teşhis testleri ve görüntüleme yöntemleri kullanılmaktadır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   3 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Nöroloji muayeneleri sırasında neleri içerir ve nasıl bir süreç izlenir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Nöroloji muayenesi, hastanın tıbbi geçmişinin alınması, fiziksel muayene, sinir fonksiyonlarının değerlendirilmesi ve gerektiğinde görüntüleme testlerinin istenmesini içerir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   4 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Nöroloji kliniğinizdeki doktorlar, nörolojik hastalıkların tedavisinde nasıl bir yaklaşım benimsemektedir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Kliniğimizdeki nörologlar, hasta odaklı bir yaklaşım benimseyerek hastaların özgün ihtiyaçlarına yönelik kişiselleştirilmiş tedavi planları oluşturur ve multidisipliner bir yaklaşım benimserler.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         all services end-->
   <!--=================================
 Footer start
   ============================== -->
   <%- include("partials/_footer") %>
</body>


<!-- Mirrored from peacefulqode.com/themes/medicate/html/nurology-service.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:50 GMT -->
</html>