<%- include("partials/_header") %>

<body>
   <!--=================================
         loading start-->
   <div id="pq-loading">
      <div id="pq-loading-center"> <img src="images/logo.png" class="img-fluid" alt="loading"> </div>
   </div>
   <!--=================================
         loading end-->
   <!--=================================
         header start-->
         <%- include("partials/_navigation") %>
   <!--=================================
         header end-->
   <!--=================================
         Banner start-->
   <div class="pq-breadcrumb" style="background-image:url('images/breadcrumb.jpg');">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-12">
               <nav aria-label="breadcrumb">
                  <div class="pq-breadcrumb-title">
                     <h2>Ortopedi Hizmetleri</h2> </div>
                  <div class="pq-breadcrumb-container mt-2">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mr-2"></i>Anasayfa</a></li>
                        <li class="breadcrumb-item active">Ortopedi Hizmetleri</li>
                     </ol>
                  </div>
               </nav>
            </div>
            <div class="col-lg-4">
               <div class="pq-breadcrumb-img text-right wow fadeInRight"></div>
            </div>
         </div>
      </div>
   </div>
   <!--=================================
         Banner end-->
   <!--=================================
         all services start-->
   <section class="all-services pq-pb-210">
      <div class="container">
         <div class="row">
            <div class="col-lg-4">
               <div class="pq-widget">
                  <div class="pq-widget pq-widget-port p-0">
                     <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                           <li class="menu-item "> <a href="/angioplasty-services" aria-current="page">Anjiyoplasti Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/cardiology-services">Kardiyoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/endocrinology-services">Endokrinoloji Hizmetleri</a> </li>
                           <li class="menu-item "><a href="/eye-care-services">Göz Bakım Hizmetleri</a></li>
                           <li class="menu-item "><a href="/nurology-service">Nöroloji Hizmetleri</a> </li>
                           <li class=" current-menu-item"><a href="/orthopaedics-services">Ortopedi Hizmetleri</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div id="media_image">
                  <a href="/iletisim"> <img src="images/call-img.jpg" alt="" class="rounded img-fluid"> </a>
               </div>
            </div>
            <div class="col-lg-8 ps-3 mt-4 mt-lg-0">
               <div class="pq-menu-content">
                  <div class="pq-rhs-img text-center"> <img src="images/service-single.jpg" alt="" class="rounded img-fluid"> </div>
                  <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                     <h4 class="pq-section-title">Ortopedi Alanında Profesyonel Tıbbi Hizmet</h4>
                     <div class="pq-section-description">
                        <p>Kliniğimiz, ortopedi alanında uzmanlaşmış doktorlarımızla hizmet vermektedir. Kas, iskelet sistemi ve eklem sağlığına odaklanan bir dizi tıbbi durumu içeren ortopedi, yaşam kalitemizi önemli ölçüde etkileyebilir. Kliniğimizdeki uzman sağlık doktorları, ortopedik sorunları teşhis etmek ve etkili tedavi seçenekleri sunmak için buradadır. Kas ve kemik sağlığınızı korumak ve ortopedik sorunları çözmek için sizinle birlikte çalışmayı dört gözle bekliyoruz. Profesyonel bakım ve uzman desteği için kliniğimize hoş geldiniz.</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedi, kas, kemik ve eklem sağlığını inceleyen bir tıp dalıdır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik cerrahi, kemik kırıkları, eklem rahatsızlıkları ve spor yaralanmalarının tedavisinde kullanılır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Skolyoz, omurganın anormal eğrilerinden biridir ve ortopedik bir sorun olarak kabul edilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik protezler, eklem veya uzuv kaybı yaşayan kişilere yardımcı olabilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik fizik tedavi, kas ve eklem fonksiyonunu geri kazanmaya yöneliktir.</span></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 p-lg-0">
                        <ul class="pq-portfolio-list-check">
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Tenisçi dirseği ve golfçü dirseği gibi yaygın ortopedik sorunlar spor aktiviteleriyle ilişkilendirilir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik yastıklar ve destekler, uyku sırasında kas ve omurga sağlığını desteklemek için kullanılır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik ayakkabılar, ayak sağlığını korumak ve düztabanlık gibi sorunları önlemek için tasarlanır.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik muayeneler, eklem hareketliliği, kas gücü ve radyolojik incelemeleri içerir.</span></li>
                           <li><i aria-hidden="true" class="ion ion-checkmark"></i><span>Ortopedik doktorlar, kas-iskelet sistemi rahatsızlıkları konusunda uzmandırlar ve tedavi seçenekleri sunarlar.</span></li>
                        </ul>
                     </div>
                     <div class="row">
                        <div class="pq-section-title-box pq-section-title-style-2 pt-4">
                           <h4 class="pq-section-title">Sağlık İpuçları ve Bilgiler</h4>
                           <div class="pq-section-description">
                              <p>Sağlık, yaşam kalitemizi etkileyen önemli bir faktördür. Aşağıda, ortopedi hakkında bazı temel bilgileri bulacaksınız. Soru ve cevaplarımız, sinir sistemi sağlığınızı korumak ve daha bilinçli sağlık kararları almanıza yardımcı olacaktır. Sağlığınıza önem vermek için bu bilgilere göz atın.</p>
                           </div>
                        </div>
                        <div class="pq-accordion-block ">
                           <div class="pq-accordion-box  1">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Ortopedik klinikte hangi tür cerrahi işlemler gerçekleştirilmektedir?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i>
                                       <i aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Ortopedik klinikte, eklem protezleri, kemik kırıkları, tendon ve bağ yaralanmaları gibi bir dizi cerrahi işlem gerçekleştirilmektedir.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   2">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Ortopedik klinikte hangi tür non-cerrahi tedavi seçenekleri sunulmaktadır?

                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: none;">
                                 <p class="pq-detail-text">Ortopedik kliniklerde, fizik tedavi, rehabilitasyon, ilaç tedavileri ve enjeksiyonlar gibi cerrahi olmayan tedavi seçenekleri sunulmaktadır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   3 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Ortopedik klinikte spor yaralanmalarının tedavisi nasıl yapılır?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Spor yaralanmalarının tedavisi, öncelikle muayene ve görüntüleme ile başlar, ardından cerrahi veya cerrahi olmayan tedavi seçenekleri belirlenir ve rehabilitasyon süreci başlatılır.</p>
                              </div>
                           </div>
                           <div class="pq-accordion-box   4 ">
                              <div class="pq-ad-title">
                                 <h6 class="ad-title-text">
                                    Ortopedik klinikte hasta eğitimi ve danışmanlık hizmetleri sunuluyor mu?
                                       <i aria-hidden="true" class="ion ion-ios-arrow-down active"></i><i
                                          aria-hidden="true" class="ion ion-ios-arrow-up inactive"></i>
                                    </h6> </div>
                              <div class="pq-accordion-details" style="display: block;">
                                 <p class="pq-detail-text">Evet, ortopedik klinikler, hastalara cerrahi öncesi ve sonrası bakım, egzersiz programları ve yaşam tarzı tavsiyeleri gibi konularda hasta eğitimi ve danışmanlık hizmetleri sunar.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--=================================
         all services end-->
   <!--=================================
 Footer start
   ============================== -->
   <%- include("partials/_footer") %>
</body>


<!-- Mirrored from peacefulqode.com/themes/medicate/html/orthopaedics-services.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2023 13:20:50 GMT -->
</html>