<%- include("partials/_header") %>
<body>
<div class="main-wrapper">
	<%- include("partials/_navigation") %>
	<%- include("partials/_sidebar") %>
<div class="page-wrapper">
<div class="content">
<div class="row">
<div class="col-md-8 offset-md-2">
<h4 class="page-title">Add Department</h4>
</div>
</div>
<div class="row">
<div class="col-md-8 offset-md-2">
<form>
<div class="form-group">
<label>Department Name</label>
<input class="form-control" type="text">
</div>
<div class="form-group">
<label>Description</label>
<textarea cols="30" rows="4" class="form-control"></textarea>
</div>

<div class="form-group">
	<label>10 sentence - 1</label>
	<textarea class="form-control" type="text"></textarea>
	</div>
	<div class="form-group">
		<label>10 sentence - 2</label>
		<textarea class="form-control" type="text"></textarea>
		</div>
		<div class="form-group">
			<label>10 sentence - 3</label>
			<textarea class="form-control" type="text"></textarea>
			</div>
			<div class="form-group">
				<label>10 sentence - 4</label>
				<textarea class="form-control" type="text"></textarea>
				</div>
				<div class="form-group">
					<label>10 sentence - 5</label>
					<textarea class="form-control" type="text"></textarea>
					</div>



<div class="form-group">
<label class="display-block">Department Status</label>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="status" id="product_active" value="option1" checked>
<label class="form-check-label" for="product_active">
Active
</label>
</div>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="status" id="product_inactive" value="option2">
<label class="form-check-label" for="product_inactive">
Inactive
</label>
</div>
</div>
<div class="m-t-20 text-center">
<button class="btn btn-primary submit-btn">Create Department</button>
</div>
</form>
</div>
</div>
</div>
<%- include("partials/_chat") %>
</div>
</div>
<div class="sidebar-overlay" data-reff></div>
<script type="text/javascript" src="assets/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="assets/js/select2.min.js"></script>
<script type="text/javascript" src="assets/js/tagsinput.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>

<!-- Mirrored from medifab.dreamguystech.com/admin-template/add-department.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Sep 2023 15:24:57 GMT -->
</html>